/* table */

table tr td, table tr th {
    padding: 5px 12px;
}

tbody {
    margin: 25px;
}


/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@layer base {
    
    input {
    @apply block w-full border-gray-100 rounded-md shadow-sm;
    border: 1px solid #bbb;
    border-radius: 5px;
}

input:focus {
    @apply focus:ring-indigo-500 focus:border-indigo-500;
}

input[type="select"] {
    @apply block w-full border-gray-100 rounded-md shadow-sm;
    border: 1px solid #bbb !important;
    border-radius: 5px !important;
}}

/* Trix editor */

.trix-editor {
    @apply w-full;
}

.trix-editor h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    @apply leading-5 font-semibold mb-4;
}

.trix-editor a:not(.no-underline) {
    @apply underline;
}

.trix-editor a:visited {
    color: green;
} 

.trix-editor ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.trix-editor ol {
    list-style-type: decimal;
    padding-left: 1rem;
}

.trix-editor pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 1.5em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
}

.trix-editor blockquote {
    border: 0 solid #ccc;
    border-left-width: 0px;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
}

/* Labels voor progressie */

.nietBeoordeeld {
    background-color: rgb(244, 244, 244) !important;
}

.goedgekeurd  {
    background-color: rgb(233, 249, 233) !important;
}

.afgekeurd  {
    background-color: rgb(250, 212, 212) !important;
}

.nietBeoordeeld_text {
    color: grey;
}

.goedgekeurd_text  {
    color: green;
}

.afgekeurd_text  {
    color: red;
}